# AI DAM Data Preperation - Misclassifications

mark images as misclassified and dump this infomation onto csv file

all the misclassified samples/images are manually identified and stored into folder: imgs_left_cure_deleted_samples
using this folder misclassified images are identified and its misclassification information is stored onto scv file.

input file: dam_duplicate_list_ext.csv
input misclassified images folde: imgs_left_cure_deleted_samples

output file: dam_dataset_final.csv

In [1]:
# import all necessary packages
import warnings 
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns

import time
import os
#from tqdm import tqdm # for progress indication

**Read the images and generate the train and test dataset**

In [2]:
class_list =  ['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6','c7', 'c8', 'c9']
class_desc_left = ['safe driving', 'texting-right', 'talking on the phone-right', 'texting-left', 'talking on the phone-left', 
              'operating the radio', 'rinking', 'reaching behind', 'hair and makeup', 'talking to passenger']
pd.DataFrame({'class': class_list, 'description': class_desc_left})

  class                 description
0    c0                safe driving
1    c1               texting-right
2    c2  talking on the phone-right
3    c3                texting-left
4    c4   talking on the phone-left
5    c5         operating the radio
6    c6                     rinking
7    c7             reaching behind
8    c8             hair and makeup
9    c9        talking to passenger

In [3]:
# data directory for misclassified samples. this directory was created manually 
# after looking in misclassified samples from dataset
data_dir = 'D:/my_learning_dataset/state_farms_drivers/imgs_left_cure_misclassified_samples/'
train_dir = os.path.join(data_dir, 'train')

for classname in class_list:
    print('{}: {} images'.format(classname, len(os.listdir(os.path.join(train_dir, classname)))))

c0: 78 images
c1: 39 images
c2: 57 images
c3: 29 images
c4: 53 images
c5: 36 images
c6: 33 images
c7: 18 images
c8: 74 images
c9: 416 images

In [4]:
# this file contains all the relevent information about dataset.. misclassified for each images would be added  
# for this csv file.. final output file will be in different name
df_data = pd.read_csv("dam_duplicate_list_ext.csv")
print("Shape: ", df_data.shape)
df_data.head(2)

Shape:  (22424, 8)

,SNo,subject,classname,img,duplicate,parent_img,ssim_score,duplicate_final
0,0,p002,c0,img_44733.jpg,0,NaN,0.000000,0
1,1,p002,c0,img_72999.jpg,1,img_44733.jpg,0.856947,1

In [5]:
# create new attribute with default as 0
df_data["misclassified"] = 0
df_data.head(2)

,SNo,subject,classname,img,duplicate,parent_img,ssim_score,duplicate_final,misclassified
0,0,p002,c0,img_44733.jpg,0,NaN,0.000000,0,0
1,1,p002,c0,img_72999.jpg,1,img_44733.jpg,0.856947,1,0

In [11]:
img = "img_83780.jpg"
#df_data["misclassified"] = np.where(df_data["img"] == img, 1, 0)
df_data[df_data["img"] == img]

,SNo,subject,classname,img,duplicate,parent_img,ssim_score,duplicate_final,misclassified
3320,3320,p016,c0,img_83780.jpg,0,NaN,0.0,0,0

In [7]:
os.listdir(os.path.join(train_dir, "c0"))[:5]

['p002_img_29321.jpg',
 'p016_img_47068.jpg',
 'p016_img_55604.jpg',
 'p016_img_62095.jpg',
 'p016_img_83780.jpg']

In [13]:
global df_data
for c in class_list:
    print("updating misclassification info for class {}..".format(c))
    for f in os.listdir(os.path.join(train_dir, c)):
        namesplit = f.split("_");
        img = namesplit[1] + "_" + namesplit[2]
        df_data["misclassified"] = np.where(df_data["img"] == img, 1, 0)

updating misclassification info for class c0..
updating misclassification info for class c1..
updating misclassification info for class c2..
updating misclassification info for class c3..
updating misclassification info for class c4..
updating misclassification info for class c5..
updating misclassification info for class c6..
updating misclassification info for class c7..
updating misclassification info for class c8..
updating misclassification info for class c9..

In [14]:
df_data.head(2)

,SNo,subject,classname,img,duplicate,parent_img,ssim_score,duplicate_final,misclassified
0,0,p002,c0,img_44733.jpg,0,NaN,0.000000,0,0
1,1,p002,c0,img_72999.jpg,1,img_44733.jpg,0.856947,1,0

In [15]:
df_data["misclassified"].value_counts()

0    22423
1        1
Name: misclassified, dtype: int64

In [12]:
df_data.dtypes

SNo                  int64
subject             object
classname           object
img                 object
duplicate            int64
parent_img          object
ssim_score         float64
duplicate_final      int64
misclassified        int32
dtype: object

In [ ]:
df_data_final.to_csv("dam_dataset_final.csv")